<div class="update_read">
  <% if @user_book.read? %>
    <%= link_to "Unread", book_user_books_path(@book, id: @book.id, 
      read: 0), method: :put, remote: true, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Read", book_user_books_path(@book, id: @book.id, 
      read: 1), method: :put, remote: true, class: "btn" %>
  <% end %>
</div>